* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  outline: none;
}

.container {
  /* background-color: red; */
  border: 1px solid black;
  width: 90%;
  margin: 5rem auto;
  max-width: 1000px;
  text-align: center;
  padding: 0.3rem 0rem;
}
img {
  border: 1px solid black;
  cursor: pointer;
}
.image-header-computer {
  margin-bottom: 1rem;
}
img:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
